#banner{
	
	padding: 20px;
	text-align:center;

}

body{
	background: url(https://img1.goodfon.com/original/1920x1080/0/a4/running-jogging-running-shoes.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	color: white;
	font-size: 1.3em;
}

.container{
	background: rgba(31,31,31,0.5);
}

#menu{
	margin-top: 10px;
	margin-bottom: 10px;
}

#form, #result{
	padding-bottom: 10px;
}

#footer{
	padding: 10px;
	text-align: center;
}

.form-control{
	width: 50%;
}
