#banner{
	background: #313131;
	padding: 20px;
	text-align:center;
}

body{
	background: black;
	color: white;
}

.container{
	background: #212121;
}

#menu{
	margin-top: 10px;
	margin-bottom: 10px;
}

.form{
	padding-bottom: 10px;
}
